<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20170604.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43BD07171EE40E370083F0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BD072B1EE40E370083F0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43BD07361EE40E380083F0D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
